<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="QnwgzhTo1ljLraIjxLPFM2o3m1BI11/9DO5qKpP8qqPwhQ/i4EkaeFT6b/wQ9h9yhONp6pdP5YPrxvUZLxuA3g==" />
    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload" />
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
  </head>

  <body class="toppage">
    <p id="notice">
      <%= notice %> 
    </p>
    <p class ="toppage__text"><strong>Title:</strong><%= @book.title %></p>
    <p class ="toppage__text"><strong>Body:</strong><%= @book.body %></p>
    <p class ="toppage__text"><%= link_to "Edit", edit_book_path(@book), {class: "toppage__link"} %>｜<a class ="toppage__link" href="/books">Back</a></p>
  </body>
</html>


